.card-empresa-ventas {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #666666;
  margin: 48px 24px 0 24px;
}

.card-empresa-ventas .item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  font-size: 10px;
  letter-spacing: 2px;
  border-bottom: 1px solid #EEEEEE;

  .precio {
    text-align: right;
    flex: 1;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.card-empresa-ventas .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 16px;

  .nombre {
    color: #000000;
    flex: 1;
  }

  .image {
    display: flex;
    width: 32px;
    height: 32px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.button-modal::part(native) {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0;
  padding: 0;
}

.modal-option::part(backdrop) {
  background: transparent;
}

.modal-option::part(content) {
  width: 232px;
  height: 152px;
  border-radius: 4px;
}

.modal-option ion-content {

  .list-option {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 16px;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      height: 24px;
      font-size: 16px;
      font-weight: 400;
    }

    .content-image {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      img {
        object-fit: contain;
        object-position: center;
      }
    }

  }
}

.arrow-top {
  transform: rotate(180deg);
}
