<div class="card-empresa-ventas">
  <div class="item-header">
    <p class="titulo">EMPRESAS & VENTAS</p>
    <p class="precio">S/27.8k</p>
    <img src="/assets/menu_dots.svg" alt="Menu">
  </div>
  <div class="item">
    <div class="image">
      <img src="/assets/empresas/elishop.svg" alt="Elishop">
    </div>
    <p class="nombre">ELISHOP</p>
    <p class="precio">S/3.8K</p>
  </div>
  <!-- Empresa 1 -->
  <div class="item">
    <div class="image">
      <img src="/assets/empresas/empresa.svg" alt="Empresa">
    </div>
    <p class="nombre">GEOR</p>
    <p class="precio">S/1.4K</p>
  </div>
  <!-- Empresa 2 -->
  <div class="item">
    <div class="image">
      <img src="/assets/empresas/tesla.svg" alt="Tesla">
    </div>
    <p class="nombre">Ortiz Mayorista</p>
    <p class="precio">S/12.7K</p>
  </div>
  <!-- Empresa 3 -->
  <div class="item">
    <div class="image">
      <img src="/assets/empresas/empresa.svg" alt="Empresa">
    </div>
    <p class="nombre">High Studio</p>
    <p class="precio">S/10.1K</p>
  </div>
  <!-- Empresa 4 -->
  <div class="item">
    <div class="image">
      <img src="/assets/empresas/empresa.svg" alt="Empresa">
    </div>
    <p class="nombre">Corporación Reque</p>
    <p class="precio">S/890</p>
  </div>
</div>
