<div class="card-empresa-ventas">
  <div class="item-header">
    <p class="titulo">EMPRESAS & VENTAS</p>
    <p class="precio">S/27.8k</p>
    <ion-button id="modal-empresas" class="button-modal" mode="md">
      <icon-menudots class="icon-menudots icon-20"></icon-menudots>
    </ion-button>

    <ion-popover trigger="modal-empresas" triggerAction="click" class="modal-option">
      <ng-template>
        <ion-content class="modal-empresa">
          <ul class="list-option">
            <li style="opacity: .3;">
              <div class="content-image">
                <icon-arrow class="icon-arrow rotate-90 icon-20"></icon-arrow>
              </div>
              <p>Mover arriba</p>
            </li>
            <li>
              <div class="content-image">
                <icon-arrow class="icon-arrow rotate-270 icon-20"></icon-arrow>
              </div>
              <p>Mover abajo</p>
            </li>
            <li>
              <div class="content-image">
                <icon-trash class="icon-trash icon-20"></icon-trash>
              </div>
              <p>Quitar sección</p>
            </li>
          </ul>
        </ion-content>
      </ng-template>
    </ion-popover>


  </div>
  <div
    class="item"
    *ngFor="let empresa of empresas"
  >
    <div class="image">
      <img
        [src]="empresa.imagen"
        [alt]="empresa.nombre">
    </div>
    <p class="nombre">{{ empresa.nombre }}</p>
    <p class="precio">{{ empresa.valor }}</p>
  </div>
</div>
