<div class="card-empresa-ventas">
  <div class="item-header">
    <p class="titulo">EMPRESAS & VENTAS</p>
    <p class="precio">S/27.8k</p>
    <!-- <img
      src="/assets/menu_dots.svg"
      alt="Menu"
      (click)="onClick()"
    > -->
    <ion-button id="click-trigger" class="button-modal">
      <img src="/assets/menu_dots.svg" alt="Menu">
    </ion-button>

    <ion-popover trigger="click-trigger" triggerAction="click" class="modal-option">
      <ng-template>
        <ion-content>
          <ul class="list-option">
            <li>
              <div class="content-image">
                <img class="arrow-top" src="/assets/icon/arrow.svg" alt="Flecha Arriba">
              </div>
              <p>Mover arriba</p>
            </li>
            <li>
              <div class="content-image">
                <img src="/assets/icon/arrow.svg" alt="Flecha Abajo">
              </div>
              <p>Mover abajo</p>
            </li>
            <li>
              <div class="content-image">
                <img src="/assets/icon/trash.svg" alt="Quitar sección">
              </div>
              <p>Quitar sección</p>
            </li>
          </ul>
        </ion-content>
      </ng-template>
    </ion-popover>


  </div>
  <div
    class="item"
    *ngFor="let empresa of empresas"
  >
    <div class="image">
      <img
        [src]="empresa.imagen"
        [alt]="empresa.nombre">
    </div>
    <p class="nombre">{{ empresa.nombre }}</p>
    <p class="precio">{{ empresa.valor }}</p>
  </div>
</div>
