

.header {
  margin: 56px 24px 0 24px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrow-left-icon {
  fill: #000000;
}

.contactos {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100px;
  height: 30px;
}

.contacto {
  display: grid;
  place-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  background-color: #EEEEEE;
}

.contacto-1 {
  z-index: 1000;
  left: 0;
}
.contacto-2 {
  z-index: 900;
  left: 22px;

  span {
    color: #BDBDBD;
    font-size: 16px;
  }
}
.contacto-3 {
  z-index: 800;
  left: 44px;
}
.contacto-4 {
  z-index: 700;
  left: 66px;
}

// Card contacto

.card-contacto {
  margin: 48px 24px 0 24px;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 64px;
  height: 64px;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-info * {
  margin: 0;
  padding: 0;
}

.card-info .nombre {
  font-size: 24px;
  font-weight: 900;
  color: #000000;
  margin-top: 8px;
}

.card-info .telefono {
  font-size: 14px;
  color: #666666;
  margin-top: 2px;
}

.card-info .email {
  font-size: 14px;
  color: #666666;
  margin-top: 4px;
}

.card-info .usuario {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 8px;

  img {
    width: 23px;
    height: 24px;
  }
  p {
    font-size: 16px;
    color: #666666;
  }
}

.card-info .etiquetas {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 8px;

  span {
    font-family: var(--font-roboto);
    color: #ffffff;
    font-size: 14px;
    padding: 2px 6px;
    border-radius: 4px;
  }
}

.card-info .etiquetas span:nth-child(1) {
  background-color: #3C66FB;
}

.card-info .etiquetas span:nth-child(2) {
  background-color: #F88078;
}

// Card Empresa y ventas
.card-empresa-ventas {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #666666;
  margin: 48px 24px 0 24px;
}

.card-empresa-ventas .item-header {
  display: flex;
  flex-direction: row;
  gap: 24px;
  font-size: 10px;
  letter-spacing: 2px;

  .precio {
    text-align: right;
    flex: 1;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.card-empresa-ventas .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 16px;

  .nombre {
    color: #000000;
    flex: 1;
  }

  .image {
    display: flex;
    width: 32px;
    height: 32px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
