<ion-header class="bg-white ion-no-border" mode="md">
</ion-header>

<ion-content>

  <app-header></app-header>

  <main class="main">
    <!-- Card Contacto -->
    <app-cardcontacto></app-cardcontacto>

    <!-- Card Empresa y Ventas -->
    <app-empresasyventas></app-empresasyventas>

    <!-- Comentarios -->
    <app-cardcomentario></app-cardcomentario>

    <!-- Nivel de interes -->
    <app-niveldeinteres></app-niveldeinteres>

    <!-- Lista a las que perteneces -->
    <app-cardlistaperteneces></app-cardlistaperteneces>
  </main>

  <app-footercontacto></app-footercontacto>
</ion-content>
