<div class="card-listaperteneces">
  <div class="card-header">
    <p>Listas a las que pertenece</p>
    <img src="/assets/menu_dots.svg" alt="Menu">
  </div>
  <div class="card-item">
    <h2 class="titulo">Buyer gerente general</h2>
    <div class="tag">
      <span class="tag-principal">Autómatica</span>
      <span class="tag-secundario">Contactos</span>
    </div>
    <p class="description">Pertenece desde el 25 nov 2022</p>
  </div>

  <div class="card-item">
    <h2 class="titulo">Lista empresas pequeñas</h2>
    <p class="description">Pertenece desde el 25 nov 2022</p>
    <div class="tag">
      <span class="tag-green">Manual</span>
      <span class="tag-secundario">Contactos</span>
    </div>
  </div>
</div>
