.card-listaperteneces {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 48px 24px 192px 24px;
  font-weight: 400;
  color: var(--textSecundario);
}

.card-listaperteneces .card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p {
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  img {
    width: 20px;
    height: 20px;
  }
}

.card-listaperteneces .card-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--textPrincipal);

  .tag {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .description {
    font-size: 14px;
    color: #666666;
  }
}

.button-modal::part(native) {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0;
  padding: 0;
}

.modal-option::part(backdrop) {
  background: transparent;
}

.modal-option::part(content) {
  width: 232px;
  height: 104px;
  border-radius: 4px;
}

.modal-option ion-content {

  .list-option {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 16px;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      height: 24px;
      font-size: 16px;
      font-weight: 400;
    }

    .content-image {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      img {
        object-fit: contain;
        object-position: center;
      }
    }

  }
}

.arrow-top {
  transform: rotate(180deg);
}

.button-modal svg {
  font-size: 20px;
  stroke: var(--textSecundario);
  fill: var(--textSecundario);
}

.modal-lista-perteneces::part(background) {
  background: var(--fondoModal);
}

.modal-lista-perteneces::part(arrow) {
  display: none;
}

.list-option {
  color: var(--textPrincipal);
}
