<div class="card-contacto">
  <div class="card-image">
    <img src="/assets/contacto.png" alt="Contacto">
  </div>
  <div class="card-info">
    <h2 class="nombre">Carla Mamani</h2>
    <p class="telefono">+51 943 786 708</p>
    <p class="email">carla@gmail.com</p>
    <div class="usuario">
      <img src="/assets/avatar_undefined.svg" alt="Avatar sin definir">
      <p>Jhordan Vásquez</p>
    </div>
    <div class="etiquetas">
      <span>Cliente interno</span>
      <span>Lead</span>
    </div>
  </div>
</div>
