<div class="card-contacto">
  <div class="card-image">
    <img [src]="contacto.imagen" [alt]="contacto.nombre">
  </div>
  <div class="card-info">
    <h2 class="nombre">{{ contacto.nombre }}</h2>
    <p class="telefono">{{ contacto.celular }}</p>
    <p class="email">{{ contacto.correo }}</p>
    <div class="usuario">
      <img src="/assets/avatar_undefined.svg" alt="Avatar sin definir">
      <p>Jhordan Vásquez</p>
    </div>
    <div class="etiquetas">
      <span
        *ngFor="let etiqueta of contacto.etiquetas"
        [class]="etiqueta.tipo"
      >{{ etiqueta.nombre }}</span>
    </div>
  </div>
</div>
