.card-contacto {
  margin: 48px 24px 0 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nombre {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--textPrincipal);
}

.card-image {
  width: 64px;
  height: 64px;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-info * {
  margin: 0;
  padding: 0;
}

// .card-info .nombre {
//   font-size: 24px;
//   font-weight: 900;
//   color: var(--textPrincipal);
//   transition: color .3s ease;
//   margin-top: 8px;
// }

.card-info .telefono {
  font-size: 14px;
  color: var(--textSecundario);
  transition: color .3s ease;
  margin-top: 2px;
}

.card-info .email {
  font-size: 14px;
  color: var(--textSecundario);
  transition: color .3s ease;
  margin-top: 4px;
}

.card-info .usuario {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 8px;

  img {
    width: 23px;
    height: 24px;
  }
  p {
    font-size: 16px;
    color: var(--textSecundario);
  }
}

.card-info .etiquetas {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 8px;

  span {
    font-family: var(--font-roboto);
    color: #ffffff;
    font-size: 14px;
    padding: 2px 6px;
    border-radius: 4px;
  }
}
