.card-comentarios {
  display: flex;
  flex-direction: column;
  margin: 48px 24px 0 24px;
  gap: 30px;
  color: var(--textSecundario);
}

.card-comentarios .card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--lineaSeparadora);

  p {
    font-size: 10px;
    letter-spacing: 2px;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.button-modal::part(native) {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0;
  padding: 0;
}

.modal-option::part(backdrop) {
  background: transparent;
}

.modal-option::part(content) {
  width: 232px;
  height: 152px;
  border-radius: 4px;
}

.modal-option ion-content {

  .list-option {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 16px;
    color: var(--textPrincipal);

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      height: 24px;
      font-size: 16px;
      font-weight: 400;
    }

    .content-image {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      img {
        object-fit: contain;
        object-position: center;
      }
    }

  }
}

.arrow-top {
  transform: rotate(180deg);
}


.card-comentarios .card-comentario {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-weight: 400;
  line-height: 24px;

  .avatar {
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #EEEEEE;

    img {
      width: 32px;
      height: 32px;
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      font-size: 16px;
      color: #BDBDBD;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 16px;
      color: var(--textPrincipal);
      margin: 0;
    }

    .comentario {
      display: flex;
      flex-direction: row;
      margin-top: 8px;

      p {
        color: var(--textPrincipal);
      }
    }

    .tag {
      background-color: #EBEBEB;
      font-size: 16px;
      color: #000000;
      padding: 0px 8px;
      border-radius: 20px;
      margin-right: 5px;
      font-weight: 400;
    }

    .tiempo {
      font-size: 12px;
      color: var(--textSecundario);
    }

    .responder {
      font-size: 16px;
      color: var(--textSecundario);
      margin-top: 12px;
    }
  }
}

.button-modal svg {
  font-size: 20px;
  stroke: var(--textSecundario);
  fill: var(--textSecundario);
}

.modal-comentarios::part(background) {
  background: var(--fondoModal);
}

.modal-comentarios::part(arrow) {
  display: none;
}
