<div class="card-comentarios">
  <div class="card-header">
    <p>COMENTARIOS</p>
    <img src="/assets/menu_dots.svg" alt="menu">
  </div>
  <!-- Sheyla Gavidia -->
  <div class="card-comentario">
    <div class="avatar">
      <p>OP</p>
    </div>
    <div class="content">
      <h2>Sheyla Gavidia</h2>
      <div class="comentario">
        <p><span class="tag">Oscar</span> Tengo todo listo, ya puedes revisar la información del cliente ya está disponible. <span class="tiempo">hace 1 seg</span></p>
      </div>
    </div>
  </div>
  <!-- Homero Lopez -->
  <div class="card-comentario">
    <div class="avatar">
      <img src="/assets/homero_lopez.png" alt="Homero Lopez">
    </div>
    <div class="content">
      <h2>Homero Lopez</h2>
      <div class="comentario">
        <p>Está perfecto 😊👍 <span class="tiempo">hace 1 seg</span></p>
      </div>
      <p class="responder">Responder</p>
    </div>
  </div>
  <!-- Gerardo Ortiz -->
  <div class="card-comentario">
    <div class="avatar">
      <img src="/assets/gerardo_ortiz.png" alt="Gerardo Ortiz">
    </div>
    <div class="content">
      <h2>Gerardo Ortiz</h2>
      <div class="comentario">
        <p>Lorem ipsum dolor sit amet consectetur. Massa quis et porta ipsum duis diam facilisis. Nunc tortor amet et pellentesque sem sagittis semper in sapien.</p>
      </div>
      <p class="responder">1 respuestas</p>
    </div>
  </div>
  <!-- Valentin Mamani -->
  <div class="card-comentario">
    <div class="avatar">
      <img src="/assets/valentin_mamani.png" alt="Valentin Mamani">
    </div>
    <div class="content">
      <h2>Valentín Mamani</h2>
      <div class="comentario">
        <p><span class="tag bg-principal-main text-white">Gerardo</span> Tengo todo listo, ya puedes revisar la información del cliente ya está disponible. <span class="tiempo">hace 1 seg</span> </p>
      </div>
      <p class="responder">Responder</p>
    </div>
  </div>
</div>
