<div class="card-comentarios">
  <div class="card-header">
    <p>COMENTARIOS</p>
    <ion-button id="modal-comentarios" class="button-modal" mode="md">
      <icon-menudots class="icon-menudots icon-20"></icon-menudots>
    </ion-button>

    <ion-popover trigger="modal-comentarios" triggerAction="click" class="modal-option">
      <ng-template>
        <ion-content class="modal-comentarios">
          <ul class="list-option">
            <li>
              <div class="content-image">
                <icon-arrow class="icon-arrow rotate-90 icon-20"></icon-arrow>
              </div>
              <p>Mover arriba</p>
            </li>
            <li>
              <div class="content-image">
                <icon-arrow class="icon-arrow rotate-270 icon-20"></icon-arrow>
              </div>
              <p>Mover abajo</p>
            </li>
            <li>
              <div class="content-image">
                <icon-resolve class="icon-resolve icon-20"></icon-resolve>
              </div>
              <p>Resolver todo</p>
            </li>
          </ul>
        </ion-content>
      </ng-template>
    </ion-popover>
  </div>
  <!-- Sheyla Gavidia -->
  <div class="card-comentario">
    <div class="avatar">
      <p>OP</p>
    </div>
    <div class="content">
      <h2>Sheyla Gavidia</h2>
      <div class="comentario">
        <p><span class="tag">Oscar</span> Tengo todo listo, ya puedes revisar la información del cliente ya está disponible. <span class="tiempo">hace 1 seg</span></p>
      </div>
    </div>
  </div>
  <!-- Homero Lopez -->
  <div class="card-comentario">
    <div class="avatar">
      <img src="/assets/homero_lopez.png" alt="Homero Lopez">
    </div>
    <div class="content">
      <h2>Homero Lopez</h2>
      <div class="comentario">
        <p>Está perfecto 😊👍 <span class="tiempo">hace 1 seg</span></p>
      </div>
      <p class="responder">Responder</p>
    </div>
  </div>
  <!-- Gerardo Ortiz -->
  <div class="card-comentario">
    <div class="avatar">
      <img src="/assets/gerardo_ortiz.png" alt="Gerardo Ortiz">
    </div>
    <div class="content">
      <h2>Gerardo Ortiz</h2>
      <div class="comentario">
        <p>Lorem ipsum dolor sit amet consectetur. Massa quis et porta ipsum duis diam facilisis. Nunc tortor amet et pellentesque sem sagittis semper in sapien.</p>
      </div>
      <p class="responder">1 respuestas</p>
    </div>
  </div>
  <!-- Valentin Mamani -->
  <div class="card-comentario">
    <div class="avatar">
      <img src="/assets/valentin_mamani.png" alt="Valentin Mamani">
    </div>
    <div class="content">
      <h2>Valentín Mamani</h2>
      <div class="comentario">
        <p><span class="tag bg-principal-main text-white">Gerardo</span> Tengo todo listo, ya puedes revisar la información del cliente ya está disponible. <span class="tiempo">hace 1 seg</span> </p>
      </div>
      <p class="responder">Responder</p>
    </div>
  </div>
</div>
