/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// Variables Globales
:root {
  --font-roboto: 'Roboto', sans-serif;
  --principal-dark: #000000;
  --texto-primario: #000000;
}

html {
  box-sizing: border-box;
}

*,*::after,*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: var(--font-roboto);
}

img {
  width: 100%;
}

.bg-white {
  background-color: #ffffff;
}

.scrollbar-width-none {
  scrollbar-width: none;
}

.bg-principal-main {
  background-color: #023AFF !important;
}

.text-white {
  color: #ffffff !important;
}

.text-black {
  color: #000000 !important;
}

.tag-principal {
  background-color: #EBF4FE !important;
  color: #023AFF !important;
  padding: 2px 12px !important;
  border-radius: 4px;
}

.tag-secundario {
  color: #666666 !important;
}

.tag-green {
  background-color: #F0FCF7 !important;
  color: #3ED598 !important;
  padding: 2px 12px !important;
  border-radius: 4px;
}


.etiqueta-azul {
  background-color: #3C66FB;
}

.etiqueta-roja {
  background-color: #F88078;
}


// Modo dark
.button-change {
  position: absolute;
  right: 20px;
  top: 200px;
  padding: 3px 8px;
  font-size: 16px;
  background: rgb(22, 116, 225);
}

.light {
  --fondo: rgba(255, 255, 255, 1);
  --principal: rgb(0, 0, 0);
  --textPrincipal: rgb(0, 0, 0);
  --textSecundario: rgba(0, 0, 0, 0.6);
  --lineaSeparadora: rgb(238, 238, 238);
  --fondoModal: rgba(255, 255, 255, 1);
}

.dark {
  --fondo: rgba(5, 5, 15, 1);
  --principal: rgb(255, 255, 255);
  --textPrincipal: rgb(255, 255, 255);
  --textSecundario: rgba(255, 255, 255, 0.6);
  --lineaSeparadora: rgb(27, 31, 60);
  --fondoModal: rgba(5, 5, 15, 1);
}

body {
  background: var(--fondo);
  transition: background .3s ease;
}

// Iconos SVG
.icon-menudots {
  display: grid;
  place-content: center;

  svg {
    fill: var(--textSecundario);
  }
}

.icon-arrow {
  display: grid;
  place-content: center;

  path {
    stroke: var(--principal);
  }
}

.icon-trash {
  display: grid;
  place-content: center;

  path {
    stroke: var(--principal);
  }
}

.icon-resolve {
  display: grid;
  place-content: center;

  svg path{
    stroke: var(--principal);
  }
}

.icon-archive {
  display: grid;
  place-content: center;

  svg path{
    stroke: var(--principal);
  }
}

.icon-next {
  display: grid;
  place-content: center;

  svg path{
    stroke: var(--principal);
  }
}

.icon-share {
  display: grid;
  place-content: center;

  svg {
    fill: var(--principal);
  }
}

.icon-print {
  display: grid;
  place-content: center;

  svg path{
    stroke: var(--principal);
  }
}

.icon-archived {
  display: grid;
  place-content: center;

  svg path{
    stroke: var(--principal);
  }
}

.icon-edit {
  display: grid;
  place-content: center;

  svg path{
    stroke: var(--principal);
  }
}

.icon-company {
  display: grid;
  place-content: center;

  svg path{
    stroke: var(--principal);
  }
}

.icon-addlist {
  display: grid;
  place-content: center;

  svg path{
    stroke: var(--principal);
  }
}

.icon-interest {
  display: grid;
  place-content: center;

  svg path{
    stroke: var(--principal);
  }
}

.icon-mail {
  display: grid;
  place-content: center;

  svg path{
    stroke: var(--principal);
  }
}

.icon-plus {
  display: grid;
  place-content: center;

  svg path{
    stroke: var(--principal);
  }
}

// Rotaciones (Para reutilizar iconos que se repiten pero rotan)
.rotate-0 {
  transform: rotate(0deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.rotate-360 {
  transform: rotate(360deg);
}

// Clase tamaños para iconos
.icon-20 {
  font-size: 20px;
}

.icon-24 {
  font-size: 24px;
}

