/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// Variables Globales
:root {
  --font-roboto: 'Roboto', sans-serif;
  --principal-dark: #000000;
  --texto-primario: #000000;
}

html {
  box-sizing: border-box;
}

*,*::after,*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.bg-white {
  background-color: #ffffff;
}

.scrollbar-width-none {
  scrollbar-width: none;
}

.bg-principal-main {
  background-color: #023AFF !important;
}

.text-white {
  color: #ffffff !important;
}

.text-black {
  color: #000000 !important;
}

.select-radio {
  border: 9px solid #FFB547 !important;
  box-sizing: border-box !important;
}

.bg-select-radio {
  background: linear-gradient(270deg, rgba(248, 163, 14, 0.15) 1.66%, rgba(248, 164, 14, 0) 99.85%) !important;
  border-radius: 20px !important;
  padding: 4px 4px !important;
}

.tag-principal {
  background-color: #EBF4FE !important;
  color: #023AFF !important;
  padding: 2px 12px !important;
  border-radius: 4px;
}

.tag-secundario {
  color: #666666 !important;
}

.tag-green {
  background-color: #F0FCF7 !important;
  color: #3ED598 !important;
  padding: 2px 12px !important;
  border-radius: 4px;
}
