.card-niveldeinteres {
  margin: 48px 24px 0 24px;
  display: flex;
  flex-direction: column;
  color: var(--textSecundario);
}

.card-niveldeinteres .card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--lineaSeparadora);

  p {
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.card-niveldeinteres .card-item {
  margin-top: 24px;
  display: flex;
  flex-direction: row;

  img {
    width: 78px;
    height: 261.65px;
  }

  .lista-nivel {
    flex: 1;
    align-items: flex-end;
    padding: 16px 17px 0 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;

    li {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 18px;
      width: 100%;

      p {
        font-size: 16px;
        color: var(--textSecundario);
        order: 1;
      }

      .radio {
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #E0E0E0;
        margin: 2px;
        margin-right: 4px;
      }
    }
  }
}

.nivel-alto  {
  background: linear-gradient(270deg, rgba(244, 67, 54, 0.15) 1.66%, rgba(244, 67, 54, 0) 99.79%) !important;
  border-radius: 20px !important;

  p {
    color: #000 !important;
  }

  .radio {
    border: 7px solid rgba(244, 67, 54, 1) !important;
    box-sizing: border-box !important;
  }
}

.nivel-medio-alto {
  background: linear-gradient(270deg, rgba(250, 116, 31, 0.15) 1.66%, rgba(250, 116, 31, 0) 99.53%) !important;
  border-radius: 20px !important;

  p {
    color: #000 !important;
  }

  .radio {
    border: 7px solid rgba(250, 116, 31, 1) !important;
    box-sizing: border-box !important;
  }
}

.nivel-medio {
  background: linear-gradient(270deg, rgba(248, 163, 14, 0.15) 1.66%, rgba(248, 164, 14, 0) 99.85%) !important;
  border-radius: 20px !important;

  p {
    color: #000 !important;
  }

  .radio {
    border: 7px solid rgba(255, 181, 71, 1) !important;
    box-sizing: border-box !important;
  }
}

.nivel-medio-bajo {
  background: linear-gradient(270deg, rgba(193, 192, 51, 0.15) 1.66%, rgba(196, 191, 49, 0) 99.17%) !important;
  border-radius: 20px !important;

  p {
    color: #000 !important;
  }

  .radio {
    border: 7px solid rgba(186, 193, 56, 1) !important;
    box-sizing: border-box !important;
  }
}

.nivel-bajo {
  background: linear-gradient(270deg, rgba(62, 213, 152, 0.15) 1.66%, rgba(62, 213, 152, 0) 100.06%) !important;
  border-radius: 20px !important;

  p {
    color: #000 !important;
  }

  .radio {
    border: 7px solid rgba(62, 213, 152, 1) !important;
    box-sizing: border-box !important;
  }
}


// Modal
.button-modal::part(native) {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0;
  padding: 0;
}

.modal-option::part(backdrop) {
  background: transparent;
}

.modal-option::part(content) {
  width: 232px;
  height: 152px;
  border-radius: 4px;
}

.modal-option ion-content {

  .list-option {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 16px;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      height: 24px;
      font-size: 16px;
      font-weight: 400;
    }

    .content-image {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      img {
        object-fit: contain;
        object-position: center;
      }
    }

  }
}

.arrow-top {
  transform: rotate(180deg);
}



.button-modal svg {
  font-size: 20px;
  stroke: var(--textSecundario);
  fill: var(--textSecundario);
}

.modal-nivel-interes::part(background) {
  background: var(--fondoModal);
}

.modal-nivel-interes::part(arrow) {
  display: none;
}

.list-option {
  color: var(--textPrincipal);
}
