<div class="card-niveldeinteres">
  <div class="card-header">
    <p>Nivel de interés</p>
    <img src="/assets/menu_dots.svg" alt="Menu">
  </div>
  <div class="card-item">
    <img src="/assets/interes.svg" alt="nivel de interes">
    <ul class="lista-nivel">
      <li>
        <p>Alto</p>
        <div class="radio"></div>
      </li>
      <li>
        <p>Medio alto</p>
        <div class="radio"></div>
      </li>
      <li class="bg-select-radio">
        <p class="text-black">Medio</p>
        <div class="radio select-radio"></div>
      </li>
      <li>
        <p>Medio bajo</p>
        <div class="radio"></div>
      </li>
      <li>
        <p>Bajo</p>
        <div class="radio"></div>
      </li>
    </ul>
  </div>
</div>
